body{
    background-color: purple;
    color: white;
}
.user{
    height: 250px;
    width: 301px;
    display: inline-block;
    border: 2px solid black;
}

img{
    width: 100%;
    height: 100%;
    border: 1px white;
}


a{
    font-size: 1.5rem;
}