*{
    margin: 0px;
    padding: 0px;
}

.container{
    max-width: 40%;
    margin-left: 25%;
    margin-top: 10%;
    border: 1px solid black;
    box-sizing: border-box;
    padding: 20px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: gray;
}

section{
    margin-bottom: 15px;
}

.details{
    color: black;
    background-color: #ffff;
    border: 1px solid black;
    padding: 15px 15px;
}

input{
    height: 40px;
    width: 300px;
    font-size: 900;
    font-weight: bolder;
    color: rgb(197, 155, 91);
}

.zipcode{
    height: 40px;
    width: 300px;
    border: 2px solid black;
    border-radius: 9%;
}

button{
    font-weight: 700;
    font-size: medium;
}